body {
	background-color: #000;
	color: rgb(240,230,200);
	font-family: 'Dosis', sans-serif;
	padding-bottom: 50px;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.logo img {
	max-width: 100%;
	height: auto;
}

.summonerInput {
	background-color: rgb(170,220,233);
	color: rgb(9,26,70);
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	font-size: 120%;
}

.summonerInput input[type="text"]{
	display: inline-block;
	background-color: #e8e9eb;
	width: 60%;
	float: left;
	text-align: center;
	/*margin-right: 10px;*/
	padding: 15px 0;
	height: 3em;
}

.summonerInput select {
	/*margin-left: 5px;*/
	padding: 15px 0;
	height: 3em;
	width: 19%;
	text-align: center;
}

.summonerInput button {
	width: 100%;
	padding: 15px;
}

.summonerInput div.error {
	background-color: #D42C2C;
	color: #ffffff;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}


@media (max-width: 600px) {
	.summonerInput {
		font-size: 80%;
	}
	.summonerInput input[type="text"]{
		padding: 5px 0;
	}
	.summonerInput select {
		padding: 5px 0;
	}
	.summonerInput button {
		padding: 5px;
	}
}



.results {
	width: 100%;
	display: inline-block;
	border-radius: 20px;
	text-align: center;
}

.championSplash {
	position: relative;
	width: 90%;
	/*padding: 0 50px 50px 50px;*/
}

.championSplash img{
	max-width: 100%;
	height: auto;
	padding:1px;
	border:1px solid #e8e9eb;
}

.championSplash div {
	position: absolute; 
	top: 50px; 
	left: 50px; 
	text-align: left;
	color: #ffffff;
	text-shadow: 2px 2px #000;
}

span.championName {
	font-size: 400%;
	display: inline-block;
}

@media (max-width: 600px) {
	span.championName {
		font-size: 150%;
	}
	.championSplash div {
		left: 20px;
	}
}

#recChampsContainer {
	/*width: 610px;*/
	margin: auto;
}

div.portraitsContainer {
	/*display: inline-block;*/
	padding: auto;
}

.portraitsContainer li{
	list-style: none;
	padding: 0px;
	float: left;
	height: 120px;
	width: 20%;
	position: relative;
	display: inline;
}

.portraitsContainer img {
	max-width: 100%;
	height: auto;
	border: solid 1px white;
}

#ownedChampsContainer li {

	height: 80px;
	width: 80px;
}

.portraitsContainer li:hover span.championGrade {
	opacity: 1;
}

.championProfile span{
	float:left;
}

span.championGrade {
	background: rgba(0,0,0,0.3);
	color: white;
	cursor: pointer;
	display: table;
	height: 120px;
	left: 0;
	position: absolute;
	top: 0;
	width: 120px;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

span.championGrade span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 200%;
}
@media (max-width: 600px) {
	span.championGrade span {
		font-size: 80%;
	}
}

