body {
    background-color: #000;
    color: rgb(240,230,200);
	font-family: 'Dosis', sans-serif;
	font-size: 120%;
}

.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.logo img {
	width: 900px;
	/*height: 300px;*/
/*	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
*/}

.hidden {
	display: none;
}

.summonerInput {
	background-color: rgb(170,220,233);
	color: rgb(9,26,70);
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
}

.summonerInput input[type="text"]{
	display: inline-block;
	background-color: #e8e9eb;
	width: 60%;
	float: left;
	text-align: center;
	margin-right: 10px;
	padding: 15px;
}

.summonerInput select {

	display: inline-block;
	margin-left: 5px;
	padding: 15px;
	height: auto;
	width: 18%;
}

.summonerInput button {
	width: 100%;
	padding: 15px;
}

.results {
	/*margin: auto;*/
	width: 100%;
	display: inline-block;
	/*margin: 20px;*/
	padding: 20px;
	border-radius: 20px;
    text-align: center;

}

.portraitsContainer {
	padding:auto;
}

.portraitsContainer li{
	list-style: none;
	padding: 0px;
	float: left;
	height: 120px;
	width: 120px;
	color: red;
	border: solid 1px white;
	position: relative;
	display: inline;
}

.portraitsContainer li:hover span.championGrade {
  opacity: 1;
}

span.championGrade {
  background: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  display: table;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.championGrade span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
}

