body {
    background-color: #000;
    color: rgb(240,230,200);
	font-family: 'Dosis', sans-serif;
    padding-bottom: 50px;
}

.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.logo img {
	width: 900px;
}

.summonerInput {
	background-color: rgb(170,220,233);
	color: rgb(9,26,70);
	margin: 20px;
	padding: 20px;
	border-radius: 5px;
	font-size: 120%;
}

.summonerInput input[type="text"]{
	display: inline-block;
	background-color: #e8e9eb;
	width: 60%;
	float: left;
	text-align: center;
	margin-right: 10px;
	padding: 15px;
}

.summonerInput select {
	margin-left: 5px;
	padding: 15px;
	height: 3em;
	width: 18%;
}

.summonerInput button {
	width: 100%;
	padding: 15px;
}

.summonerInput div.error {
	background-color: #D42C2C;
	color: #ffffff;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
}

.results {
	width: 100%;
	display: inline-block;
	border-radius: 20px;
    text-align: center;
}

.championSplash {
	position: relative;
	padding: 0 50px;
}

.championSplash img{
	max-width: 100%;
	height: auto;
	padding:1px;
	border:1px solid #e8e9eb;
}

.championSplash div {
   position: absolute; 
   top: 50px; 
   left: 100px; 
   width: 100%; 
   text-align: left;
   color: #ffffff;
   text-shadow: 2px 2px #000;
}

span.championName{
   font-size: 400%;
   display: inline-block;
}

#recChampsContainer {
	width: 610px;
	margin: auto;
}

div.portraitsContainer {
	/*display: inline-block;*/
	padding: auto;
}

.portraitsContainer li{
	list-style: none;
	padding: 0px;
	float: left;
	height: 120px;
	width: 120px;
	color: red;
	border: solid 1px white;
	position: relative;
	display: inline;
}

.portraitsContainer img {
	max-width: 100%;
	height: auto;
}

#ownedChampsContainer li {

	height: 80px;
	width: 80px;
}

.portraitsContainer li:hover span.championGrade {
  opacity: 1;
}

.championProfile span{
	float:left;
}

span.championGrade {
  background: rgba(0,0,0,0.3);
  color: white;
  cursor: pointer;
  display: table;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 120px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.championGrade span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 200%;
}

